<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onsubmit()">
        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              class="form-control"
              formControlName="username"
            >
            <span
              *ngIf="!signupForm.get('userData.username')?.valid && signupForm.get('userData.username')?.touched"
              class="text-danger">
              <span *ngIf="signupForm.get('userData.username')?.errors?.nameIsForbidden">This name is invalid!</span>
              <span *ngIf="signupForm.get('userData.username')?.errors?.required">This field is required!</span>

            </span>


          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="text"
              id="email"
              class="form-control"
              formControlName="email">
            <span
              *ngIf="!signupForm.get('userData.email')?.valid && signupForm.get('userData.email')?.touched"
              class="text-danger">
              <span *ngIf="signupForm.get('userData.email')?.errors?.emailIsForbidden">This email is used before!</span>
              <span *ngIf="signupForm.get('userData.email')?.errors?.required">This field is required!</span>

            </span>
          </div>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              formControlName="gender"
              [value]="gender">{{ gender }}
          </label>
          <span class="text-danger" *ngIf="!signupForm.get('gender')?.valid && signupForm.get('gender')?.touched">Please enter a valid data!</span>
        </div>
        <div formArrayName="hobbies">
          <h4>Your Hobbies</h4>
          <button
            class="btn btn-light"
            type="button"
            (click)="onAddHobby()"
          >Add Hobby
          </button>
          <div class="form-group" *ngFor="let hobbyControl of getControls('hobbies'); let i = index">
            <input
              type="text"
              class="form-control"
              [formControlName]="i"
            >
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
	  <br><br>
	 <form [formGroup]="simpleForm" (ngSubmit)="onSubmitSimple()">
          <div class="form-group">
            <label for="firstName">firstName</label>
            <input
              type="text"
              id="firstName"
              class="form-control"
              formControlName="firstName"
            >
            <span
              *ngIf="!simpleForm.get('firstName')?.valid && simpleForm.get('firstName')?.touched"
              class="text-danger">
              <span *ngIf="simpleForm.get('firstName')?.errors?.required">This field is required!</span>
            </span>


          </div>
         <div class="form-group">
            <label for="lastName">lastName</label>
            <input
              type="text"
              id="lastName"
              class="form-control"
              formControlName="lastName">
            <span
              *ngIf="!simpleForm.get('lastName')?.valid && simpleForm.get('lastName')?.touched"
              class="text-danger">
              <span *ngIf="simpleForm.get('lastName')?.errors?.required">This field is required!</span>

            </span>
        </div>
		<div class="form-group">
            <label for="zip">zip</label>
            <input
              type="text"
              id="zip"
              class="form-control"
              formControlName="zip">
            <span
              *ngIf="!simpleForm.get('zip')?.valid && simpleForm.get('zip')?.touched"
              class="text-danger">
              <span *ngIf="simpleForm.get('zip')?.errors?.required">This field is required!</span>
			  <span *ngIf="simpleForm.get('zip')?.errors?.minlength">min length is 4 !</span>
			   <span *ngIf="simpleForm.get('zip')?.errors?.pattern">Should be  numeric !</span>
            </span>
        </div>
		        <button class="btn btn-primary" type="submit">Submit</button>

	  </form>
	  
    </div>
  </div>
</div>
